<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Send
      </ion-title>
      <!-- <ion-buttons slot="end">
        <ion-button>
          <ion-icon slot="icon-only" color="danger" name="close"></ion-icon>
        </ion-button>
        <ion-button routerLink="/send">
          <ion-icon slot="icon-only"  color="success" name="checkmark"></ion-icon>
        </ion-button>
      </ion-buttons> -->
    </ion-toolbar>
  </ion-header>

<ion-content padding>
    <qrcode class="m-t-15" [qrdata]="getJson()" [size]="256" [level]="'M'"></qrcode>
</ion-content>
