// ion-content {
//     --background: none transparent;
//   }

.rounded {
    --border-radius: 50px;
    --padding-start: 15px;
    --padding-end: 15px;
    --padding-top: 15px;
    --padding-bottom: 15px;
}


.item-count {
    display: inline;
}

.inline{
    display: inline-block;
}

.item-cart {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ebebeb;
}
.item-cart .thumb {
    width: 60px;
    height: 70px;
}
.item-cart .description {
    flex: 10;
}

.item-cart .quantity {
    flex: 1;
}