<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Scan
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" color="danger" name="close"></ion-icon>
      </ion-button>
      <ion-button routerLink="/send">
        <ion-icon slot="icon-only" color="success" name="checkmark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div id="close-scanner-button" text-center>
    <ion-button (click)="closeScanner()" color="warning">
      Close Scanner
    </ion-button>
  </div>

  <div class="item-cart p-b-15 p-t-15" *ngFor="let item of $basket | async">
    <div class="">
      <ion-button (click)="removeItem(item)" class="txt3" fill="clear">
        <ion-icon name="close-circle"></ion-icon>
      </ion-button>
    </div>
    <!-- <div class="thumb ovfl-hidden flex-row flex-ali-center flex-jus-center" tabindex="0">
    <img src="">
  </div> -->
    <div class="description p-l-10 p-r-15 ovfl-hidden" tabindex="0">
      <h4 class="fs-16 m-0 ellipsis">{{item.articul.code}} {{item.articul.name}}</h4>
      <p class="m-0 txt3 fw-600 ellipsis">
        <span class="ellipsis fs-14 txt1 m-0 fw-600"> R$&nbsp;32.00 </span></p>
    </div>
    <div class="quantity">
      <ion-button (click)="increment(item)" class="txt3 shadow-0 fs-18 mg-0" fill="clear" size="small">
        <ion-icon name="add" class="hydrated"></ion-icon>
      </ion-button>
      <ion-input (input)="update(item, $event.target.value)" text-center [value]="item.amount" type="number"
        class="hydrated"></ion-input>
      <ion-button (click)="decrement(item)" class="txt3 shadow-0 fs-18 m-0" fill="clear" size="small">
        <ion-icon name="remove" class="hydrated"></ion-icon>
      </ion-button>
    </div>
  </div>
</ion-content>
<ion-footer>
  <ion-item>
    <ion-label position="floating">Введите артикул</ion-label>
    <ion-input (ionFocus)="isInputFocused = true" [(ngModel)]="articul" (ionBlur)="isInputFocused = false"></ion-input>
    <ion-note slot="end">
      <ion-button size="small" fill="clear" [hidden]="isInputFocused" (click)="scan()">
        <ion-icon slot="icon-only" name="aperture"></ion-icon>
      </ion-button>
      <ion-button size="small" fill="clear" [hidden]="!(isInputFocused || (!!articul && articul.length))"
        (click)="addToCart()" color="success">
        <ion-icon slot="icon-only" name="checkmark"></ion-icon>
      </ion-button>
    </ion-note>
  </ion-item>
  <!-- <ion-toolbar>
    <ion-input>
    </ion-input>
    <ion-button (click)="scan()" expand="block" size="medium">считать QR-код
      <ion-icon slot="end" name="aperture"></ion-icon>
    </ion-button>
  </ion-toolbar> -->
</ion-footer>