// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

$spaceamounts: (5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 75, 100); // Adjust this to include the pixel amounts you need.
$sides: (top, bottom, left, right); // Leave this variable alone

@each $space in $spaceamounts {
  @each $side in $sides {
    .m-#{str-slice($side, 0, 1)}-#{$space} {
      margin-#{$side}: #{$space}px !important;
    }
  
    .p-#{str-slice($side, 0, 1)}-#{$space} {
      padding-#{$side}: #{$space}px !important;
    }
  }
}

.m-0 {
    margin: 0px !important;
}

.p-0 {
    padding: 0px !important;
}


#close-scanner-button {
    display: none;
}

html.qr-scanner-open {

    ion-app,
    ion-content {
        height: 70px !important;
    }

    ion-content {
        --overflow: hidden !important;
    }

    ion-header,
    ion-footer,
    ion-content > *:not(#close-scanner-button) {
        display: none;
    }

    #close-scanner-button {
        display: block;
    }
}

.shadow-0 {
    box-shadow: none !important;
    --box-shadow: none !important;
}
.txt3 {
    color: var(--ion-text-color-lv3);
}
.txt1 {
    color: var(--ion-text-color);
}

.ovfl-hidden {
    overflow: hidden;
}

.flex-jus-center {
    justify-content: center;
}

.flex-ali-center {
    align-items: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.fw-600 {
    font-weight: 600 !important;
}

.fs-18 {
    font-size: 18px !important;
    /* line-height: 24px !important; */
}

.fs-16 {
    font-size: 16px !important;
    /* line-height: 22px !important; */
}
.ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}